@font-face{
    font-family:'KlimentStdRegularWeb';
    src:url('/css/fonts/kliment_std-webfont.eot');
    src:url('/css/fonts/kliment_std-webfont.eot?#iefix') format('embedded-opentype'), 
url('/css/fonts/kliment_std-webfont.woff') format('woff'), 
url('/css/fonts/kliment_std-webfont.ttf') format('truetype'), 
url('/css/fonts/kliment_std-webfont.svg#KlimentStdRegular') format('svg');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'BukyvedeWeb';
    src:url('/css/fonts/bukyvede-regular-webfont.eot');
    src:url('/css/fonts/bukyvede-regular-webfont.eot?#iefix') format('embedded-opentype'), 
url('/css/fonts/bukyvede-regular-webfont.woff') format('woff'), 
url('/css/fonts/bukyvede-regular-webfont.ttf') format('truetype'), 
url('/css/fonts/bukyvede-regular-webfont.svg#BukyvedeRegular') format('svg');
    font-weight:normal;
    font-style:normal;

}
@font-face{
    font-family:'MenaionWeb';
    src:url('/css/fonts/menaion_djb_5.1-webfont.eot');
    src:url('/css/fonts/menaion_djb_5.1-webfont.eot?#iefix') format('embedded-opentype'), 
url('/css/fonts/menaion_djb_5.1-webfont.woff') format('woff'), 
url('/css/fonts/menaion_djb_5.1-webfont.ttf') format('truetype'), 
url('/css/fonts/menaion_djb_5.1-webfont.svg#BukyvedeRegular') format('svg');
    font-weight:normal;
    font-style:normal;

}
@font-face{
    font-family:'LazovWeb';
    src:url('/css/fonts/lazov05-webfont.eot');
    src:url('/css/fonts/lazov05-webfont.eot?#iefix') format('embedded-opentype'), 
url('/css/fonts/lazov05-webfont.woff') format('woff'), 
url('/css/fonts/lazov05-webfont.ttf') format('truetype'), 
url('/css/fonts/lazov05-webfont.svg#BukyvedeRegular') format('svg');
    font-weight:normal;
    font-style:normal;

}

.os{
    font-family:BukyvedeWeb, KlimentStdRegularWeb, LazovWeb, MenaionWeb;
    font-weight:normal;
    font-size:larger;
}
gk{
    font-family:Palatino;
    font-size:smaller;
    margin-left:1em;
    margin-top:-1.25em
}
/* in folio view, text on left, image on right, scale image */
body{
    overflow-x:hidden;
}
h1{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
sup{
    line-height:0;
}
/* Components of sampleText: rubric, head, incipit, explicit, p, div */
span.incipit,
span.explicit,
span.head,
span.rubric,
p.colophon,
p.sampleText{
    display:block;
    text-indent:0;
    font-size:smaller;
    font-family:'BukyvedeWeb';
}
div.archeaography{
    text-indent:2em;
}
span.head:before{
    content:'Head: ';
    font-weight:bold;
    font-family:serif;
}
span.incipit:before{
    content:'Incipit: ';
    font-weight:bold;
    font-family:serif;
}
span.explicit:before{
    content:'Explicit: ';
    font-weight:bold;
    font-family:serif;
}
span.rubric{
    color:red;
    font-weight:bold;
}
span.rubric:before{
    content:'Rubric: ';
    font-weight:bold;
    font-family:serif;
}
p.sampleText:before{
    content:'Sample: ';
    font-weight:bold;
    font-family:serif;
}
p.colophon:before{
    content:'Colophon: ';
    font-weight:bold;
    font-family:serif;
}
.boilerplate{
    margin:1em 0;
    position:relative;
}
.boilerplate > span.text{
    text-indent:-1em;
    margin-left:1em;
    display:block;
    font-size:smaller;
    line-height:1.2em;
}
.flags{
    position:absolute;
    right:1em;
    top:0;
}
.textTitle.bg,
.select.bg,
.msName.bg{
    display:inline;
}
.textTitle.en,
.textTitle.ru,
.select.en,
.select.ru,
.msName.ru,
.msName.en{
    display:none;
}
.small{
    font-size:smaller;
}
.archeography{
    font-size:smaller;
    padding-left:2em;
}
.archeography > *{
    display:inline !important;
}
.sic{
    font-family:serif;
    color:red;
}
span.unclear:before{
    content:"[";
}
span.unclear:after{
    content:"]";
}
span.add{
    color:green;
}
a {fill: blue;}
